{
    "cart": [
        {
            "sku": "ABC-1",
            "qty": 2,
            ...
            "price": 199.99
        },
        ...
    ],
   ...
   "user": {
       "name": "Veronica Costello",
       ...
   }
}